@media screen and (min-width: 0px) and (max-width: 530px){
  #one #theone{
    width: 180px;
    height: 180px;
    position: absolute;
    left: 210px;
  }
  #one #theone #love p,h4{
    font-size: 13px;
  }
}
@media screen and (min-width:531px) and (max-width: 930px){
  #main{
    width: 754px;
    height: 141px;
    position: absolute;
    top: 350px;
    left: 130px;
  }
}
@media screen and (min-width: 931px) and (max-width: 1027px){
  #main{
    position: absolute;
    top: 350px;
    left: 130px;
  }
}
@media screen and (min-width:1028px) and (max-width:1199px){
  #main{
    position: absolute;
    top:47%;
    left:15%;
  }
}
@media screen and (min-width:1200px){
    #main{
      position: absolute;
      top: 55%;
      left: 20%;
    }
  }
