@media screen and (min-width:0px) and (max-width: 930px){
  #bg {
    width: 1040px;
    position: relative;
    top: 0;
    left: 0;
  }
  #main h1{
    font-size: 45px;
  }
  #main{
    width: 754px;
    height: 141px;
    position: absolute;
    top: 350px;
    left: 130px;
  }
  #menu{
    width:8200px;
    height:43px;
  }
  .icon{
    position: absolute;
    top: 0px;
    left: 810px;
  }
  #header{
    width: 930px;
    display: inline-block;
    float: left;
  }
}
@media screen and (min-width: 931px) and (max-width: 1039px){
  #bg {
    width: 1040px;
    position: relative;
    top: 0;
    left: 0;
  }
  #main h1{
    font-size: 45px;
  }
  #main{
    position: absolute;
    top: 350px;
    left: 130px;
  }
  #menu{
    position: absolute;
    left: 216px;
  }
}
@media screen and (min-width:1040px) and (max-width:1199px){
  #bg {
    width: 100%;
  }
  #main h1{
    font-size: 45px;
  }
  #main{
    position: absolute;
    top:42%;
    left:15%;
  }
  #menu{
    position: absolute;
    left: 21%;
  }
  #main2{
    position: absolute;
    left:50%;
    transform: translateX(-96%);
  }
  #one{
    position: absolute;
    left:50%;
    transform: translateX(-7%);
  }
  #day{
    position: absolute;
    top: 595px;
    left:50%;
    transform: translateX(43%);
  }
  #last{
    position: absolute;
    left:50%;
    transform: translateX(-6%);
  }
  #footer{
    position: absolute;
    top: 3755px;
  }
}
@media screen and (min-width:1200px){
    #bg {
      width: 100%;
    }
    #main h1{
      font-size: 45px;
    }
    #main{
      position: absolute;
      top: 50%;
      left: 20%;
    }
    #menu{
      position: absolute;
      left: 21%;
    }
    #main2{
      position: absolute;
      left:50%;
      transform: translateX(-96%);
    }
    #one{
      position: absolute;
      left:50%;
      transform: translateX(-7%);
    }
    #day{
      position: absolute;
      top: 595px;
      left:50%;
      transform: translateX(43%);
    }
    #last{
      position: absolute;
      left:50%;
      transform: translateX(-6%);
    }
    #footer{
      position: absolute;
      top: 3755px;
    }
  }
