@media screen and (min-width: 0px) and (max-width: 530px){
  html{
    overflow-x: hidden;
  }
  #bg{
    width: 100%;
  }
  #header{
    width: 100%;
  }
  #origin{
    margin-left: -10px;
  }
  #origin b{
    font-size: 13px;
  }
  #main p, #menu{
    display: none;
  }
  #header .icon{
    width: 40px;
  }
  #main{
    position: absolute;
    top: 160px;
  }
  #main h1{
    font-size: 18px;
  }
  #main2{
    width: 417px;
    margin-left: -17px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  #main2 #one{
    width: 360px;
  }
  #piano{
    width: 180px;
  }
  #one #theone{
    width: 180px;
    height: 180px;
    position: absolute;
    left: 210px;
  }
  #one #theone #love{
    width: 180px;
    position: relative;
    top: 50px;
    left: 5px;
  }
  #one #theone #love p,h4{
    font-size: 12px;
  }
  #one #theone #love h4 #text{
    display: none;
  }
  #one #theone #love h4 #link{
    font-size: 8px;
  }
  #day iframe{
    margin-top: -50px;
    width: 360px;
    height: 202px;
  }
  body #last{
    margin: 100px 0 100px 2px;
    width: 410px;
    column-count: 1;
    position: relative;
    left: 50%;
    transform: translateX(-46%);
  }
  #last .fig{
    display: inline-block;
    background-color: white;
    border: 1px solid #cdcdcd;
    margin-bottom: 15px;
  }
  #last .fig img{
    width: 200px;
  }
  #last .fig figcaption p b{
    font-size: 14px;
  }
  #last .m_hide{
    display: none;
  }
  #footer{
    width: 100%;
    height: 140px;
  }
  #footer #tv #info ul a, #footer #tv #info pre{
    display: none;
  }
}
@media screen and (min-width:531px) and (max-width: 930px){
  #bg {
    width: 1040px;
    position: relative;
    top: 0;
    left: 0;
  }
  #main h1{
    font-size: 45px;
  }
  #main{
    width: 754px;
    height: 141px;
    position: absolute;
    top: 350px;
    left: 130px;
  }
  #menu{
    width:820px;
    height:43px;
  }
  .icon{
    position: absolute;
    top: 0px;
    left: 810px;
  }
  #header{
    width: 930px;
    display: inline-block;
    float: left;
  }
  #main2{
    width: 1050px;
    margin: auto;
    position: relative;
  }
  #footer{
    width: 1068px;
  }
}
@media screen and (min-width: 931px) and (max-width: 1027px){
  #bg {
    width: 1040px;
    position: relative;
    top: 0;
    left: 0;
  }
  #main h1{
    font-size: 45px;
  }
  #main{
    position: absolute;
    top: 350px;
    left: 130px;
  }
  #menu{
    position: absolute;
    left: 216px;
  }
  #footer{
    width: 1068px;
  }
}
@media screen and (min-width:1028px) and (max-width:1199px){
  #bg {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
  }
  #main h1{
    font-size: 45px;
  }
  #main{
    position: absolute;
    top:47%;
    left:17%;
  }
  #menu{
    position: absolute;
    left: 21%;
  }
  #main2{
    width: 1050px;
    margin: auto;
    position: relative;
  }
  #footer{
    position: relative;
  }
  #more{
    position: relative;
    left: 1%;
  }
}
@media screen and (min-width:1200px){
    #bg {
      width: 100%;
    }
    #main h1{
      font-size: 45px;
    }
    #main{
      position: absolute;
      top: 55%;
      left: 20%;
    }
    #menu{
      position: absolute;
      left: 21%;
    }
    #main2{
      width: 1050px;
      margin: auto;
      position: relative;
    }
    #footer{
      position: relative;
    }
    #more{
      position: relative;
      left: 1%;
    }
  }
