*{margin: 0; padding: 0; font-family: 'Nanum Gothic', sans-serif;}
body{overflow-x: hidden;}
header{
  width: 100vw;
  height: 40px;
  padding: 20px 0 0 30px;
  background-color: #22404a;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
section, article{
  width: 100vw;
  height: 100vh;
  min-height: 1000px;
}
article{background-color: #22404a;}
.sub_menu{
  width: 20px;
  position: fixed;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
  z-index: 1;
}
.sub_menu>a>span{
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #ffa896;
  border-radius: 50%;
  cursor: pointer;
}
ul li{list-style: none;}
a{text-decoration: none;}
hr{width: 90%;}


header b{color: #ffa896;}
header>p{
  float: left;
  display: inline-block;
}
header>ul{
  float: right;
  margin-right: 80px;
}
header>ul>a>li{
  list-style: none;
  float: left;
  display: inline-block;
  margin: 0 20px 0 20px;
  cursor: pointer;
}
#home{
  position: relative;
  z-index: 500;
}
#home>p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffa896;
  font-size: 4em;
}

/*메인 애니메이션 */
#home>.back>span{display: none;}
#home>.back>.main_line{
  background-color: #ffa896;
  padding: 2px;
  position: absolute;
}
#home>.back>.sub_line{
  background-color: #ffa896;
  padding: 1px;
  position: absolute;
}
#home>.back>span:first-child{
  top: 7%;
  left: 5%;
  width: 90%;
}
#home>.back>span:nth-child(2){
  top: 5%;
  left: 7%;
  height: 90%;
}
#home>.back>span:nth-child(3){
  bottom: 5%;
  right: 7%;
  height: 90%;
}
#home>.back>span:nth-child(4){
  bottom: 7%;
  right: 5%;
  width: 90%;
}
#home>.back>span:nth-child(5){
  top: 9%;
  left: 6%;
  width: 88%;
}
#home>.back>span:nth-child(6){
  top: 6%;
  left: 8%;
  height: 88%;
}
#home>.back>span:nth-child(7){
  bottom: 6%;
  right: 8%;
  height: 88%;
}
#home>.back>span:last-child{
  bottom: 9%;
  right: 6%;
  width: 88%;
}

.center{
  position: absolute;
  top: 80vh;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 90px;
  border-left: 4px dashed rgba(255,255,255,0.1);
  display: none;
}
.arrow{
  position: absolute;
  top: 0;
  left: -4px;
  height: 40px;
  width: 4px;
  background-color: #fff;
  animation: animate 2s infinite;
}
.arrow:before{
  content:'';
  position: absolute;
  bottom: 0;
  left: -10px;
  width: 20px;
  height: 20px;
  border-bottom: 4px solid #fff;
  border-right: 4px solid #fff;
  transform: rotate(45deg);
}
@keyframes animate {
  0%{transform: translateY(0); opacity:0.5;}
  50%{transform: translateY(45px); opacity:1;}
  100%{transform: translateY(90px); opacity:0;}
}
/*메인애니메이션end*/

section, footer{
  background: url(img/back.png) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
  position: relative;
}
section>div{
  background-color: #fff;
  width: 70%;
  height: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -43%);
  display: flex;
  min-width: 1160px;
}
section>div>div{margin-top: 11%;}
section>div>.profile1{margin: 8% 9% 0 5%;}
section>div>.profile1>img{width: 400px;}
section>div>.profile1>div{display: flex;}
section>div>.profile1>.profile1_text>div{margin: 5% auto;}
section>div>div>div.skills{display: flex;}
section>div>div>div.skills>div{text-align: center;}
.circle {
  width: 100px;
  margin: 6px 6px 20px;
  display: inline-block;
  position: relative;
  line-height: 1.2;
}
.circle canvas {vertical-align: top; transform: rotate(90deg);}
.circle strong {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  line-height: 40px;
  font-size: 30px;
}
.circle strong i {
  font-style: normal;
  font-size: 0.6em;
  font-weight: normal;
}
.circle span {
  display: block;
  margin-top: 12px;
}

article p{color: #fff;}
article>div{text-align: center;}
article>div>div{
  display: inline-block;
  width: 80vw;
  height: 70vh;
}
article .work{
  position: relative;
  border: 1px solid #fff;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%);
}
article .work_title{
  width: 150px;
  height: 50px;
  background-color: #fff;
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translate(-50%);
  font-size: 15px;
}
article .work_title>b{
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translate(-50%);
}
article>div>div#webpage>div>ul>li{
  width: 100%;
  margin: 40px auto;
  display: flex;
}
article>div>div#webpage>div>ul>li>div.web_work{min-width: 243px;}
article>div>div#webpage>div>ul>li>div.web_text{
  width: 150vw;
  min-width: 205px;
}
#portfolio2{height: 130vh;}
article>div>div#photoshop>div>ul{margin-top: 50px;}
article>div>div#photoshop>div>ul>li{
  width: 20%;
  margin: 40px 2%;
  margin-top: 0px;
  font-size: 0;
  display: inline-block;
}
article>div>div#webpage>div>ul>li>div.web_text>b{color: #ffa896; font-size: 1.2em;}
article>div>div#webpage>div>ul>li>div.web_text>p.w_sub_text{
  margin: 20px;
}
article>div>div>div>ul>li>div{position: relative;}
article>div>div>div>ul>li>div.photo_work{
  width: 100%;
  cursor: pointer;
  overflow: hidden;
}
article>div>div>div>ul>li>div>a>img{
  transition: 0.5s;
  width: 100%;
}
article>div>div>div>ul>li>div .work_hover{
  width: 100%;
  min-width: 205px;
  height: 100%;
  background-color: #000;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
.photo_work img{
  transform: scale(1);
  transition: 0.5s;
}
.photo_work:hover img{
  transform: scale(1.5);
  transition: 0.5s;
}

article>div>div>div>ul>li>div .work_hover>p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
}
article>div>div>div>ul>li>div .work_hover:hover{opacity: 0.7;}
article>div>div>div>ul>li>div.photo_work>img{width: 100%;}
.work_hover>div{
  width: 50px;
  height: 50px;
  border: 4px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.work_hover>div>.plus{
  width: 20px;
  border: 3.5px solid #fff;
  border-radius: 25%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.work_hover>div>.plus:first-child{transform: translate(-13.2px,-3px) rotate(450deg);}

footer{
  width: 100vw;
  height: 50vh;
  min-height: 420px;
}
footer>div{
  text-align: center;
  margin: 0 auto;
  padding-top: 9%;
}
footer>div>b{
  color: #2a4d59;
  font-size: 4em;
}
footer>div>div>p{font-weight: bold;}

/*팝업창*/
.up{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background-color: #fff;
  text-align: center;
  padding-top: 10px;
}
.up>div{display: flex;}
.up>b{
  color: #ffa896;
  font-size: 1.2em;
}
.up>div>div{margin: 10px;}
.up>div>div.up_img>img{
  height: 70vh;
  margin-top: 10px;
}
.up>div>div>div>img.up_subImg{
  height: 50%;
  max-height: 200px;
}
.background{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  z-index: 2;
  opacity: 0.5;
  display: none;
}
/*팝업창end*/

@media screen and (min-width: 641px) and (max-width: 1200px){
  /*태블릿*/
  header{
    width: 100%;
    max-width: 1200px;
    height: 40px;
    padding: 20px 0 0 30px;
    background-color: #22404a;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  section, article{
    width: 100%;
    max-width: 1200px;
    height: 100vh;
  }
  #portfolio2{height: 70vh;}
  footer{
    width: 100%;
    max-width: 1200px;
    height: 30vh;
  }
  #home>.back>span:nth-child(6){
    top: 6%;
    left: 9.5%;
    height: 88%;
  }
  #home>.back>span:nth-child(7){
    bottom: 6%;
    right: 9.5%;
    height: 88%;
  }
  nav{display: none;}
  .up>div{display: block;}
  .up>div>div.up_img>img{
    height: 50vh;
    margin-top: 10px;
  }
}
@media screen and (min-width: 0px) and (max-width: 640px){
 /*모바일*/
 #home>.back>span:nth-child(6){
   top: 6%;
   left: 9.5%;
   height: 88%;
 }
 #home>.back>span:nth-child(7){
   bottom: 6%;
   right: 9.5%;
   height: 88%;
 }
}
