*{margin: 0; padding: 0; font-family: 'Nanum Gothic', sans-serif;}
body{
  overflow-x: hidden;
}
header{
  width: 100vw;
  height: 40px;
  padding: 20px 0 0 30px;
  background-color: #22404a;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
section, article{
  width: 100vw;
  height: 100vh;
}
article{
  background-color: #22404a;
}
.sub_menu{
  width: 20px;
  position: fixed;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
  z-index: 1;
}
.sub_menu>a>span{
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #ffa896;
  border-radius: 50%;
  cursor: pointer;
}
ul li{
  list-style: none;
}
a{
  text-decoration: none;
}


header b{
  color: #ffa896;
}
header>p{
  float: left;
  display: inline-block;
}
header>ul{
  float: right;
  margin-right: 80px;
}
header>ul>a>li{
  list-style: none;
  float: left;
  display: inline-block;
  margin: 0 20px 0 20px;
  cursor: pointer;
}
#home{
  position: relative;
  z-index: 500;
}
#home>p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffa896;
  font-size: 4em;
}

/*메인 애니메이션 */
#home>.back>span{
  display: none;
}
#home>.back>.main_line{
  background-color: #ffa896;
  padding: 2px;
  position: absolute;
}
#home>.back>.sub_line{
  background-color: #ffa896;
  padding: 1px;
  position: absolute;
}
#home>.back>span:first-child{
  top: 7%;
  left: 5%;
  width: 90%;
}
#home>.back>span:nth-child(2){
  top: 5%;
  left: 7%;
  height: 90%;
}
#home>.back>span:nth-child(3){
  bottom: 5%;
  right: 7%;
  height: 90%;
}
#home>.back>span:nth-child(4){
  bottom: 7%;
  right: 5%;
  width: 90%;
}
#home>.back>span:nth-child(5){
  top: 9%;
  left: 6%;
  width: 88%;
}
#home>.back>span:nth-child(6){
  top: 6%;
  left: 8%;
  height: 88%;
}
#home>.back>span:nth-child(7){
  bottom: 6%;
  right: 8%;
  height: 88%;
}
#home>.back>span:last-child{
  bottom: 9%;
  right: 6%;
  width: 88%;
}

.center{
  position: absolute;
  top: 80vh;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 90px;
  border-left: 4px dashed rgba(255,255,255,0.1);
  display: none;
}
.arrow{
  position: absolute;
  top: 0;
  left: -4px;
  height: 40px;
  width: 4px;
  background-color: #fff;
  animation: animate 2s infinite;
}
.arrow:before{
  content:'';
  position: absolute;
  bottom: 0;
  left: -10px;
  width: 20px;
  height: 20px;
  border-bottom: 4px solid #fff;
  border-right: 4px solid #fff;
  transform: rotate(45deg);
}
@keyframes animate {
  0%{
    transform: translateY(0);
    opacity:0.5;
  }
  50%{
    transform: translateY(45px);
    opacity:1;
  }
  100%{
    transform: translateY(90px);
    opacity:0;
  }
}
/*메인애니메이션end*/

section, footer{
  background: url(img/back.png) no-repeat center center fixed; background-size: cover;
  position: relative;
}
section>div{
  background-color: #fff;
  width: 70%;
  height: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -43%);
  display: flex;
}
section>div>div>div.skills{
  display: flex;
}

article p{
  color: #fff;
}
article>div{
  text-align: center;
}
article>div>div{
  display: inline-block;
  width: 80vw;
  height: 70vh;
}
article .work{
  position: relative;
  border: 1px solid #fff;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%);
}
article .work_title{
  width: 150px;
  height: 50px;
  background-color: #fff;
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translate(-50%);
  font-size: 15px;
}
article .work_title>b{
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translate(-50%);
}
article>div>div#webpage>div>ul>li{
  width: 40%;
  margin: 40px;
  display: inline-block;
}
article>div>div#photoshop>div>ul>li{
  width: 20%;
  margin: 40px 2%;
  font-size: 0;
  display: inline-block;
}
article>div>div>div>ul>li>div{
  position: relative;
}
article>div>div>div>ul>li>div.photo_work{
  width: 100%;
  cursor: pointer;
  overflow: hidden;
}
article>div>div>div>ul>li>div>a>img{
  transition: 0.5s;
  width: 100%;
}
article>div>div>div>ul>li>div .work_hover{
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
.photo_work img{
  transform: scale(1);
  transition: 0.5s;
}
.photo_work:hover img{
  transform: scale(1.5);
  transition: 0.5s;
}

article>div>div>div>ul>li>div .work_hover>p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
}
article>div>div>div>ul>li>div .work_hover:hover{
  opacity: 0.7;
}
article>div>div>div>ul>li>div.photo_work>img{
  width: 100%;
}
.work_hover>div{
  width: 50px;
  height: 50px;
  border: 4px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.work_hover>div>.plus{
  width: 20px;
  border: 3.5px solid #fff;
  border-radius: 25%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.work_hover>div>.plus:first-child{
  transform: translate(-13.2px,-3px) rotate(450deg);
}

footer{
  width: 100vw;
  height: 50vh;
}
footer>div{
  text-align: center;
  margin: 0 auto;
  padding-top: 7%;
}
footer>div>b{
  color: #2a4d59;
  font-size: 4em;
}

/*팝업창*/
.up{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background-color: #fff;
  text-align: center;
  font-size: 0;
  padding-top: 10px;
}
.up>b{
  color: #ffa896;
  font-size: 15px;
}
.up>div>img{
  height: 70vh;
  margin-top: 10px;
}
.up>.icon_div{
  width: 90%;
  height: 90%;
}
.up>.icon_div>div.icon{
  width: 640px;
}
.up>div.xxx{
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: fixed;
  top: 0;
  right: 0;
}
.up>div.xxx>span{
  width: 20px;
  border: 1px solid #000;
  border-radius: 40%;
  float: left;
}
.up>div.xxx>span:first-child{
  transform: translate(0px,15px) rotate(-225deg);
}
.up>div.xxx>span:last-child{
  transform: translate(-0px,13px) rotate(225deg);
}
.background{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  z-index: 2;
  opacity: 0.5;
  display: none;
}
/*팝업창end*/

@media screen and (min-width: 0px) and (max-width: 755px){
 /*헤더메뉴*/
}
