@media screen and (min-width: 0px) and (max-width: 530px){
  /* 모바일 수평 스크롤 금지 */
  html, body {
  max-width: 100%;
  overflow-x: hidden;
  }
  #bg{
    width: 100%;
  }
  #header{
    width: 100%;
  }
  #sub_menu{
    z-index: 200;
  }
  #sub_menu>span{
    display: block;
    width: 100%;
    height: 2px;
    background: white;
    margin: 4px 0 ;
    border-radius: 10px;
    transition: all 0.5s;
  }
  #sub_menu>.on:nth-child(1) {
    transform: translateY(6px) rotate(225deg);
    transition-delay: 0.2s;
  }
  #sub_menu>.on:nth-child(2) {
    opacity: 0;
    transform: translateX(50px);
  }
  #sub_menu>.on:nth-child(3) {
    transform: translateY(-6px) rotate(-225deg);
    transition-delay: 0.2s;
  }
  #hidden_ham{
    width: 100%;
    height: 100%;
    display: none;
    background-color: white;
    text-align: center;
    position: fixed;
    top: 0;
    left:inherit;
    right:0;
    z-index: 100;
  }
  #hidden_ham ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #hidden_ham ul li{
    list-style: none;
    padding: 15px 0 15px 0;
  }
  #origin{
    margin-left: -20px;
  }
  #origin b{
    font-size: 13px;
  }
  #main p, #menu{
    display: none;
  }
  #header .icon{
    width: 40px;
  }
  #main{
    position: absolute;
    top: 130px;
  }
  #main h1{
    font-size: 15px;
  }
  #main2{
    width: 417px;
    margin-left: -17px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  #main2 #one{
    width: 360px;
  }
  #piano{
    width: 180px;
  }
  #one #theone #love{
    width: 180px;
    position: relative;
    top: 50px;
    left: 5px;
  }
  #one #theone #love h4 #text{
    display: none;
  }
  #one #theone #love h4 #link{
    font-size: 8px;
  }
  #day iframe{
    margin-top: -50px;
    width: 360px;
    height: 202px;
  }
  body #last{
    margin: 100px 0 100px 2px;
    width: 360px;
    column-count: 1;
    position: relative;
    left: 50%;
    transform: translateX(-46%);
  }
  #last .fig{
    display: inline-block;
    background-color: white;
    border: 1px solid #cdcdcd;
    margin-bottom: 15px;
  }
  #last .fig img{
    width: 170px;
  }
  #last .fig figcaption p b{
    font-size: 12px;
  }
  #last .m_hide{
    display: none;
  }
  #footer{
    width: 100%;
    height: 140px;
  }
  #footer #tv #info>ul a, #footer #tv #info pre{
    display: none;
  }
  #fix_menu{
    display: none;
  }
}
@media screen and (min-width:531px) and (max-width: 865px){
  #bg {
    width: 1040px;
    position: relative;
    top: 0;
    left: 0;
  }
  #main h1{
    font-size: 45px;
  }
  #menu{
    width:820px;
    height:43px;
  }
  #sub_menu{
    position: absolute;
    top: 0px;
    left: 810px;
    display: none;
  }
  #hidden_ham{
    display: none;
  }
  #header{
    width: 930px;
    display: inline-block;
    float: left;
  }
  #main2{
    width: 1050px;
    margin: auto;
    position: relative;
  }
  #footer{
    width: 1068px;
  }
}
@media screen and (min-width: 866px) and (max-width: 1027px){
  #bg {
    width: 1040px;
    position: relative;
    top: 0;
    left: 0;
  }
  #main h1{
    font-size: 45px;
  }
  #sub_menu{
    display: none;
  }
  #hidden_ham{
    display: none;
  }
  #menu{
    position: absolute;
    left: 216px;
  }
  #last{
    margin: 100px 0 0 45px;
  }
  #footer{
    width: 1068px;
  }
}
@media screen and (min-width: 1028px) and (max-width: 1199px){
  #bg {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
  }
  #main h1{
    font-size: 45px;
  }
  #sub_menu{
    display: none;
  }
  #hidden_ham{
    display: none;
  }
  #menu{
    position: absolute;
    left: 21%;
  }
  #main2{
    width: 1050px;
    margin: auto;
    position: relative;
  }
  #footer{
    position: relative;
  }
  #more{
    position: relative;
    left: 1%;
  }
}
@media screen and (min-width:1200px){
  #bg {
    width: 100%;
  }
  #main h1{
    font-size: 45px;
  }
  #sub_menu{
    display: none;
  }
  #hidden_ham{
    display: none;
  }
  #menu{
    position: absolute;
    left: 21%;
  }
  #main2{
    width: 1050px;
    margin: auto;
    position: relative;
  }
  #footer{
    position: relative;
  }
  #more{
    position: relative;
    left: 1%;
  }
}
*{margin: 0; padding: 0; font-family: 'Ubuntu';}
  body{
    /* overflow-x: hidden; */
  }
  #header a{
    margin: 20px 0px 0 30px;
    display: inline-block;
    float: left;
    color: white;
    text-decoration: none;
  }
  #menu ul li{
    margin: 0 10px 0 10px;
    display: inline-block;
    float: left;
  }
  #header{
    font-size: 17px;
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
  }
  #main{
    text-align: left;
    color: white;
  }
  button{
    background: transparent;
    border:none;
  }
  #sub_menu{
    position: absolute;
    width: 20px;
    right: 20px;
    top: 20px;
    cursor: pointer;
  }
  .img{
    width: 25px;
  }
  #one{
    position: relative;
    margin-left: 15px;
  }
  #theone{
    width: 480px;
    height: 480px;
    background-color: white;
    position: absolute;
    top: 20px;
    left: 510px;
  }
  #love{
    position: relative;
    top: 50px;
    left: 20px;
  }
  #love>p{
    font-weight: bold;
    font-size: 22px;
  }
  #day{
    position: relative;
    margin-left: 45px;
    top: 70px;
  }
  #piano{
    margin: 20px 0px 0 30px;
  }
  #last{
    margin: 100px auto;
    width: 960px;
    column-count: 3;
  }
  .fig{
    display: inline-block;
    background-color: white;
    border: 1px solid #cdcdcd;
    margin-bottom: 15px;
  }
  .fig img{
    width: 300px;
  }
  .hide{
    display: none;
  }
  a{
    text-decoration: none;
    color: black;
  }
  b, h6{
    margin: 0 0 5px 5px;
  }
  #footer{
    width: 100%;
    margin-top: 50px;
    background-color: white;
    height: 170px;
    position: relative;
  }
  #footer ul li{
    margin: 0 10px 0 10px;
    display: inline-block;
    float: left;
  }
  #tv{
    display: inline-block;
    float: left;
    width: 900px;
    position: absolute;
    top: 40px;
    left: 40px;
  }
  #logo{
    float: left;
    height:30px;
  }
  #info{
    font-size: 13px;
    position: absolute;
    left: 180px;
  }
  #info>ul>a>li>b{
    padding-right: 20px;
    border-right: 1px solid #000;
  }
  #info pre{
    color: #bebebe;
    margin: 0 0 0 13px;
  }
  #love pre{
    margin: 0 0 0 5px;
  }
  #select{
    display: inline-block;
  }
  #member{
    border: 0px;
  }
  #more{
    width: 200px;
    height: 50px;
    border: 1px solid #bdbdbd;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    display:inline-block;
  }
  #more b{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #fix_menu{
    width: 20px;
    position: fixed;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    z-index: 100;
  }
  #fix_menu>span{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 2.5px solid white;
    border-radius: 30%;
    cursor: pointer;
  }
