article{
  width: 90%;
  margin: 50px auto;
  text-align: center;
}
article>span{
  display: inline-block;
  height: 65%;
  margin: 0 20px 0 20px;
}
article>span>img{
  height: 100%;
}
article>span>div{
  width: 300px;
}
article>span>div>a{
  font-weight: bold;
}
article>span>div>p{
  color: #aaa
}
article>span>div>p>b{
  font-weight: 400;
}
@media screen and (min-width: 0px) and (max-width: 499px) {
  article>span{
    height: 45vh;
    margin: 50px 5px 0 5px;
  }
  article>span>div{
    margin: 0 auto;
    width: 200px;
  }
}
@media screen and (min-width: 500px) {
  article{
    height: 54.8vh;
  }
}
