article{
  margin: 50px auto;
  width: 90%;
}
article>span{
  display: inline-block;
  text-align: center;
  height: 300px;
  font-size: 14px;
}
article>span>a>p{
  width: 230px;
}
@media screen and (min-width: 1400px) {
  article{
    width: 1200px;
  }
}
