article{
  width: 90%;
  margin: 50px auto;
  text-align: center;
}
article>div{
  width: 90%;
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (min-width: 0px) and (max-width:499px) {
  article{
    margin: 100px auto;
  }
  article>div{
  }
}
@media screen and (min-width: 1400px) {
  article{
    width: 1500px;
  }
}
