article{
  width: 720px;
  margin: 0 auto;
}
article>div#profile{
  position: relative;
  margin: 100px 0;
}
article>div>img.profile_pic{
  width: 350px;
}
article>div>div.profile_text{
  display: inline-block;
  width: 350px;
  position: absolute;
  top: 50%;
  left: 370px;
  transform: translateY(-50%);
}
article>div>div.profile_text>p>b{
  font-size: 25px;
}
article>div>div.profile_text>p>b.profile_gray{
  font-size: 16px;
  padding-right: 7px;
}
@media screen and (min-width: 0px) and (max-width: 499px) {
  article{
    width: 90%;
    margin: 0 auto;
  }
  article>div#profile{
    position: relative;
    margin: 100px 0;
  }
  article>div>img.profile_pic{
    width: 45%;
  }
  article>div>div.profile_text{
    width: 45%;
  }
  article>div>div.profile_text>p>b{
    font-size: 15px;
  }
  article>div>div.profile_text>p>b.profile_gray{
    font-size: 10px;
    padding-right: 3px;
  }
}
