* {margin: 0; padding: 0; font-family: 'Ubuntu';}
body{
  overflow-x: hidden;
}

#header {
  font-size: 17px;
  width: 100%;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
}

#header>div {
  z-index: 50;
}

#header a {
  margin: 20px 0px 0 30px;
  display: inline-block;
  float: left;
  color: white;
  text-decoration: none;
}

#menu ul li {
  margin: 0 10px 0 10px;
  display: inline-block;
  float: left;
}
ul{
  list-style: none;
}
button {
  background: transparent;
  border: none;
}

#sub_menu {
  position: absolute;
  width: 20px;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}
.title{
  margin: 100px 0 0 50px;
  width: 90%;
}
.title p{
  font-size: 45px;
}
#footer{
  margin-top: 50px;
  height: 170px;
  position: relative;
}
#footer ul li{
  margin: 0 10px 0 10px;
  display: inline-block;
  float: left;
  color: white;
}
#tv{
  display: inline-block;
  float: left;
  width: 900px;
  position: absolute;
  top: 40px;
  left: 40px;
}
#logo{
  float: left;
  height:30px;
}
#info{
  font-size: 13px;
  position: absolute;
  left: 180px;
}
#info>ul>a>li>b{
  padding-right: 20px;
  border-right: 1px solid #fff;
}
#info pre{
  color: #fff;
  margin: 0 0 0 13px;
}
#love pre{
  margin: 0 0 0 5px;
}
#select{
  display: inline-block;
}
#member{
  border: 0px;

}
#me{
  margin: 143px 10px 0 0;
  float: right;
  font-style: italic;
  font-size: 13px;
  color: white;
}
@media screen and (min-width: 0px) and (max-width: 499px) {

  /* 모바일 수평 스크롤 금지 */
  html, body {
    max-width: 100%;
    overflow-x: hidden;
  }

  #header {
    width: 100%;
  }

  #sub_menu {
    z-index: 200;
  }

  #sub_menu>span {
    display: block;
    width: 100%;
    height: 2px;
    background: white;
    margin: 4px 0;
    border-radius: 10px;
    transition: all 0.5s;
  }

  #sub_menu>.on:nth-child(1) {
    transform: translateY(6px) rotate(225deg);
    transition-delay: 0.2s;
  }

  #sub_menu>.on:nth-child(2) {
    opacity: 0;
    transform: translateX(50px);
  }

  #sub_menu>.on:nth-child(3) {
    transform: translateY(-6px) rotate(-225deg);
    transition-delay: 0.2s;
  }

  #hidden_ham {
    width: 100%;
    height: 100%;
    display: none;
    background-color: white;
    text-align: center;
    position: fixed;
    top: 0;
    left: inherit;
    right: 0;
    z-index: 100;
  }

  #hidden_ham ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #hidden_ham ul li {
    list-style: none;
    padding: 15px 0 15px 0;
  }

  #origin {
    margin-left: -20px;
  }

  #origin b {
    font-size: 13px;
  }

  #main p, #menu {
    display: none;
  }

  #header .icon {
    width: 40px;
  }
  .title{
    margin: 100px 0 -70px 20px;
  }
  .title p{
    font-size: 30px;
  }
  #footer{
    width: 100%;
    height: 140px;
  }
  #footer #tv #info>ul a, #footer #tv #info pre{
    display: none;
  }
}

@media screen and (min-width:500px) and (max-width: 865px) {
  #menu {
    width: 820px;
    height: 43px;
  }

  #sub_menu {
    position: absolute;
    top: 0px;
    left: 810px;
    display: none;
  }

  #hidden_ham {
    display: none;
  }

  #header {
    width: 930px;
    display: inline-block;
    float: left;
  }
  .title{
    margin: 100px 0 0 20px;
  }
}
@media screen and (min-width: 866px) and (max-width: 1027px) {
  #sub_menu {
    display: none;
  }

  #hidden_ham {
    display: none;
  }

  #menu {
    position: absolute;
    left: 216px;
  }
}
@media screen and (min-width: 1028px) and (max-width: 1199px) {
  #sub_menu {
    display: none;
  }

  #hidden_ham {
    display: none;
  }

  #menu {
    position: absolute;
    left: 21%;
  }
}
@media screen and (min-width:1200px) {
  #sub_menu {
    display: none;
  }

  #hidden_ham {
    display: none;
  }

  #menu {
    position: absolute;
    left: 21%;
  }
}
