*{margin: 0; padding: 0; font-family: 'Oswald';}
body{
  width: 1540px;
}
#all{
  width: 90%;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#all div{
  position: relative;
  margin: 0 0.5% 0 1%;
}
#all .box{
  width: 15%;
  float: left;
  opacity: 0.5;
}
.box img{
  width: 100%;
}
#all div:hover{
  opacity: 1;
  transition: 0.5s;}
}
.text{
  height: 23px;
}
.text h4{
  width: 100%;
  padding-bottom: 2px;
  border-bottom: 1px solid gray;
  margin-bottom: 12px;
}
@media screen and (min-width: 0px) and (max-width: 530px){
  .text h4{
    font-size: 10px;
  }
  #all div.box{
    width: 22%;
  }
}
